@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Pacifico|Port+Lligat+Sans|Port+Lligat+Slab|Roboto&display=swap');

body{
	font:15px/1.5 'Poppins', sans-serif;
	font-family: 'Port Lligat Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Port Lligat Slab', serif;
	margin: 0;
	padding: 0;	
}

.website-content{
	width: 1349px;
	margin: auto;
}

/****************************************/
.btn{
	background: #15aabf;
	border: none;
}
.btn:hover{
	background: #15aabf;
	border: none;
}
/*****************************************/
.overview-detail{
	width: 930px;
	height: 630px;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	border: 2px #eaeaea solid;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.product-picture span img{
	width: 380px;
	height: 400px;
	border-radius: 5px;
}
.product-picture{
	width: 400px;
	height: 585px;
	float: left;
	padding-right: 50px;
	border-right: 2px #eeee solid;
}

.unlikes{
	width: 360px;
	text-align: center;
	padding-bottom: 20px;
}

.unlikes img{
	width: 60px;
	height: 60px;
	padding: 5px;
	border: 1px #ddd solid;
}
/***************/
.product-information{
	width: 460px;
	height: 560px;
	padding-left: 20px;
	float: left;
}
.product-information .product-name{
	border-bottom: 1px solid #eee;
}

.product-information .product-name h4{
	color: black;
	font-size: 25px;
}
/******/
.product-pice-details{
	margin-top: 15px;
}

.product-pice-details table tbody{
	font-size: 19px;
}
/********/
.selection{
	margin-top: 10px;
}
.selection p{
	font-size: 19px;
}
.selection select{
	width: 100px;
}
/********/
.ordering-option button{
	width: 130px;
	height: 40px;
	padding-right: 10px;
}
/********/

/******* SELLER INFO AND CONTACT FOR THE PRODUCT ABOVE ***********/
.seller-info{
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
	border: 3px solid #eee;
}

.seller-info .seller-header h5{
	font-weight: bold;
	margin-bottom: -5px;
	text-transform: uppercase;
}
.seller-info .seller-header p a{
	text-decoration: none;
	font-size: 20px;
	color: #333;
}
.seller-info .seller-header p a:hover{
	text-decoration: underline;
}

.seller-info .seller-contact textarea{
	width: 300px;
}

.seller-info .seller-contact button{
	margin-top: 10px;
	width: 140px;
}
.product-info-header{
	margin-top: 20px;
	border-radius: 10px 10px 0px 0px;
}

.about-product{
	width: 930px;
	border-radius: 10px;
	margin-bottom: 70px;
}

.product-info-header h5{
	font-size: 15px;
}


/********************************/
.sidebar{
	float: right;
	margin-top: -640px;
}
.product-contents{
	width: 300px;
	position: relative;
	left: 50px;
}

.product-contents .product{
	width: 300px;
	height: 160px;
	border: 1px solid #dddd;
	padding: 15px;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 5px;
}
.product a{
	text-decoration: none;
}
.product a img{
	width: 150px;
	height: 130px;
	border-radius: 5px;
}
.product button{
	margin-left: 4px;
	background-color: blue;
}
/***********************************/
.product-info-header a{
	font-size: 11px;
	color: #333;
	background: #fff;
	border: 1px solid #ddd;
	display: inline-block;
	text-decoration: none;
	padding: 15px 25px 5px 15px;
	border-radius: 10px 10px 0px 0px;
}
 
.about-product .details{
	padding: 20px;
	padding-top: 50px;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.details-wrapper{
	border: 3px  double;
	padding: 20px;
}
.details-wrapper .item-specifics{
	padding-bottom: 20px;
	font-size: 15px;
	font-weight: bolder;
}

/***************/
/*************	RECOMMENDATION SECTION DESIGN 	************/
.recommendations h2{
	width: 100%;
	padding-left: 10px;
	font-size: 25px;
	border-top: 2px #515151 solid;
	padding-bottom: 10px;
	padding-top: 5px;
	background-color: #fff;
}
.recommendations{
	width: 100%;
	height: 100%;
	margin-top: -50px;
	margin-bottom: 50px;
	background-color: #fff;
}

.all-items{
	width: 100%;
	height: 275px;
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;
}

.all-items a img{
	padding-left: 15px;
}

.all-items a{
	text-decoration: none;
	color: #0b1d1a;
}
/******** LINK ON THE PRODUCTS ******/

.product-price{
	font-size: 16px;
}

/***** THE CARD BOX *****/
.recommend-product{
	width: 208px;
	height: 250px;
	margin-top: 2px;
	border: 1px #eaeaea solid;
	display: inline-block;
}

.recommend-product:first-child{
	margin-left: 2px;
}
.recommend-product img{
	width: 200px;
	height: 180px;
	padding: 8px;
}
.recommend-product a p{
	padding-top: -10px;
	padding-left: 20px;
}


/*******************/


/********************* FOOTER *****************/
/****************************/
